.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100vw;
  margin: 1.5rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #fcfbf9;
}

.contact-header {
  grid-column: span 2;
  margin-bottom: 2rem;
}

.talk__to-us {
  grid-column: span 1;
}

.talk-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.talk__box-title {
  font-size: 1.5rem;
  color: #141414;
  font-weight: 700;
  margin-bottom: 2rem;
}

.contact-details-box {
  padding: 1rem;
  border-radius: 0.75rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
}

.icon-box {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: aqua;
}

.details-text {
  display: flex;
  flex-direction: column;
}

.details-text .heading {
  font-size: 1.25rem;
  color: #3d3d3d;
  margin-bottom: 0.5rem;
}

.details-text span {
  font-size: 1rem;
  color: hsl(0, 0%, 46%);
}

.write__us-box {
  grid-column: span 1;
}

.write__us-title {
  font-size: 1.5rem;
  color: #141414;
  font-weight: 700;
  margin-bottom: 2rem;
}

.contact__form {
  width: 360px;
  margin-top: 3rem;
}

.contact__form-div {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: none;
  color: hsl(0, 0%, 46%);
  outline: none;
  border-radius: 0.75rem;
  padding: 1.5rem;
  z-index: 1;
}

.contact__form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  font-size: 0.813rem;
  padding: 0.25rem;
  background-color: #eeedeb;
  color: hsl(0, 0%, 46%);

  z-index: 10;
}

.contact__form-area {
  height: 11rem;
}

.contact__form-area textarea {
  resize: none;
}

.button-div {
  display: flex;
}

.button {
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-block;
  gap: 0.75rem;
  background-color: hsl(0, 0%, 20%);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}

.button:hover {
  background-color: hsl(0, 0%, 0%);
}

.message {
  width: 100%;
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}
.message .success {
  font-size: 0.813rem;
  color: green;
  position: absolute;
  animation: buttons 0.3s linear;
  display: none;
}
.message .danger {
  font-size: 0.813rem;
  color: red;
  position: absolute;
  transition: 0.3s;
  animation: buttons 0.3s linear;
  display: none;
}
@keyframes buttons {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/*========  BREAKPOINTS =====*/
/* Large Devices*/

/* Medium Devices*/
@media screen and (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-header {
    grid-column: span 1;
  }
}

@media screen and (max-width: 576px) {
  .contact-container {
    margin: 1rem;
    padding: 1.25rem;
    border-radius: 1rem;
  }

  .contact__form {
    width: 100%;
  }
}

/* Small Devices*/
@media screen and (max-width: 350px) {
}
