* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  height: 200px;
  width: 350px;
  border-radius: 10px;
  background-image: linear-gradient(to right top, #b69b49, #2c514c);
}
.chip-image {
  padding: 12px;
}
.chip-image img {
  width: 50px;
}
.card-details {
  padding: 0px 15px;
}
.card-number {
  font-size: 25px;
  color: #fff;
}
.date {
  font-size: 15px;
  padding: 4px 0px;
  color: #fff;
}
.picture {
  display: flex;
  justify-content: end;
  padding: 0px 24px;
}
.picture img {
  width: 40px;
}
